*{
margin:0;
padding:0;
}
html,body{
height:100%;
}
#banner{
background:linear-gradient(rgba(0,0,0,0.4),#1a0a0a),url(skin.png);
background-size:cover;
background-position:center;
height:100vh;
}
.logo{
width:140px;
position:absolute;
top:3%;
left:1%;
}
.banner-text{
text-align:center;
color:#fff;
padding-top:230px;
}
.banner-text h1{
font-size:75px;
}
.banner-text p{
font-size:26px;
font-style:italic;
padding-top:30px;
}
nav{
float:left;
margin-left:500px;
margin-top:15px;
}
ul{
position:absolute;
float:left;
display:flex;
align-items:center;
}
ul li{
list-style:none;
margin-left:62px;
margin-top:27px;
font-size:14px;
}
ul li a{
text-decoration:none;
color:#fff;
font-family:Arial;
font-weight:bold;
transition:0.5s ease-in-out;
}
ul li a:hover{
color:#ff7200;
}
.service{
display:none;
}
.service a{
margin:-30px;
letter-spacing:1px;
font-size:15px;
font-family:cursive;
}
.service a:hover{
color:#cad719;
}
nav li:nth-child(2):hover .service{
display:block;
transition:0.5s ease-in-out;
}
.wrapper{
height:500px;
background:linear-gradient(rgba(237,233,233,0.993),#fff);
}
section img{
width:600px;
height:400px;
margin-top:30px;
margin-left:40px;
float:left;
margin-right:30px;
}
.text-box{
margin-top:60px;
padding-left:500px;
padding-top:100px;
}
.text-box h3{
color:#ff7200;
font-family:cursive;
font-size:42px;
}
.text-box p{
font-family:sans-serif;
color:black;
margin:20px;
line-height:25px;
letter-spacing:1.1px;
font-size:20px;
}
.btn{
width:240px;
height:40px;
background:#ff7200;
border:none;
margin-top:40px;
margin-left:20px;
font-size:18px;
border-radius:10px;
cursor:pointer;
color:#fff;
transition:0.4s ease;
}
.btn:hover{
background:#fff;
color:#ff7200;
}
.btn a{
text-decoration:none;
color:#000;
font-weight:lighter;
}
.haircare{
background:linear-gardient(rgba(237,233,233,0.993),#fff);
margin-left:50px;
}
haircare img{
margin-top:20px;
margin-right:50px;
float:right;
width:600px;
height:400px;
}
.text{
margin-top:60px;
padding-left:20px;
padding-top:10px;
}
.text h3{
color:#ff7200;
font-family:cursive;
font-size:42px;
}
.text p{
font-family:sans-serif;
color:black;
margin-top:30px;
margin-left:20px;
line-height:25px;
letter-spacing:1.1px;
font-weight:500;
font-size:20px;
}
.color{
background:linear-gradient(rgba(237,233,233,0.933),#fff);
height:500px;
display:flex;
float:left;
margin-top:60px;
margin-left:30px;
}
.color img{
width:600px;
height:400px;
margin-top:30px;
margin-left:40px;
float:left;
margin-right:30px;
}
.color h3{
margin-top:40px;
color:#ff7200;
font-size:42px;
font-family:cursive;
}
.color p{
font-family:sans-serif;
margin-left:30px;
color:black;
margin-top:30px;
margin-left:20px;
line-height:25px;
letter-spacing:1.1px;
font-weight:500px;
font-size:20px;
}
.head-mas{
background:linear-gradient(rgba(237,233,233,1),#fff);
}
.mas{
margin-right:30px;
display:flex;
float:right;
}
.mas img{
width:600px;
height:400px;
float:right;
}
.head-mas{
margin-top:30px;
margin-left:30px;
width:43%;
height:500px;
float:left;
}
.head-mas h3{
margin-left:40px;
color:#ff7200;
font-family:cursive;
font-size:42px;
}
.head-mas p{
font-family:sans-serif;
margin-left:30px;
color:black;
margin-top:30px;
margin-left:60px;
line-height:25px;
letter-spacing:1.1px;
font-weight:500;
font-size:20px;
}
.try{
display:flex;
float:left;
width:80%;
}
.try p{
color:#ff7200;
margin-top:41px;
margin-left:50px;
font-size:35px;
}