*{
margin:0;
padding:0;
}
html,body{
height:100%;
}
#banner{
background:linear-gradient(rgba(0,0,0,0.4),#1a0a0a),url(images/cadmen.png);
background-size:cover;
background-position:center;
height:100vh;
}
.logo{
width:140px;
position:absolute;
top:3%;
left:1%;
}
.banner-text{
text-align:center;
color:#fff;
padding-top:230px;
}
.banner-text h1{
font-size:75px;
}
.banner-text p{
font-size:26px;
font-style:italic;
padding-top:30px;
}
nav{
float:left;
margin-left:500px;
margin-top:15px;
}
ul{
position:absolute;
float:left;
display:flex;
align-items:center;
}
ul li{
list-style:none;
margin-left:62px;
margin-top:27px;
font-size:14px;
}
ul li a{
text-decoration:none;
color:#fff;
font-family:Arial;
font-weight:bold;
transition:0.5s ease-in-out;
}
ul li a:hover{
color:#ff7200;
}
.btn{
width:240px;
height:40px;
background:#ff7200;
border:none;
margin-top:40px;
margin-left:20px;
font-size:18px;
border-radius:10px;
cursor:pointer;
color:#fff;
transition:0.4s ease;
}
.image-img{
display:block;
width:100%;
}
.image-overlay{
position:absolute;
top:0;
left:0;
width:50%;
height:50%;
background:rgba(0,0,0,0.6);
color:white;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
opacity:0;
transition:opacity:0.25s;
}

.btn{
display:inline-block;
background-color:#ff6600;
color:white;
padding:10px 20px;
border-radius:5px;
margin-right:400px;
text-decoration:none;
font-weight:bold;
transition:background-color 0.3s;
margin-left:360px;
}
.btn:hover{
background-color:#e05500;
}
.destination{
max-width:1200px;
margin:0 auto;
text-align:center;
padding:30px 0;
}
.destination h2{
font-size:24px;
margin-bottom:40px;
font-family: cursive;
}
.destination-card{
background-color:#f5f5f5;
padding:20px;
margin-bottom:20px;
border-radius:5px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.destination-card img{
max-width:50%;
height:50%;
border-radius:5px;
margin-bottom:10px;
}
.destination-card h3{
font-size:30px;
margin-top:20px;
}
.destination-card p{
font-size:16px;
margin-top:50px;
}
.destination-card a{
display:inline-block;
background-color:#ff6600;
color:white;
padding:10px 20px;
border-radius:5px;
margin-top:50px;
text-decoration:none;
font-weight:bold;
transition:background-color:0.3s;
}
.destination-card a:hover{
background-color:#e05500;
margin-top:100px;
}
